input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    cursor: pointer;
    border: 1px solid var(--border-primary, rgba(7, 0, 15, 0.10));
}

input[type="checkbox"]:hover:not(:disabled) {
    background: var(--bg-neutral, rgba(2, 22, 45, 0.05));
}

input[type="checkbox"]:disabled {
    border-radius: 100px;
    opacity: 0.7;
    cursor: not-allowed;
}

input[type="checkbox"]:checked {
    background: var(--bg-accent, #0067FE);
    background-image: url('../svg/check.svg');
    background-repeat: no-repeat;
    background-position: center;
}

input[type="checkbox"]:checked:hover {
    background: var(--bg-accent-hover, #085EDB);
    background-image: url('../svg/check.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.selected-filters {
    display: flex;
    padding: 12px 16px;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
    overflow-x: scroll;
    border-bottom: 1px solid var(--stroke-grey, #E3E6E8);
    background: var(--bg-primary, #FFF);
}

.selected-filter-item {
    display: inline-flex;
    height: 32px;
    padding: 0 12px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    white-space: nowrap;
    border-radius: 8px;
    border: 1px solid var(--border-primary, rgba(7, 0, 15, 0.10));
    background: var(--bg-neutral, rgba(2, 22, 45, 0.05));
}

.delete-filter {
    width: 16px;
    height: 16px;
    border: none;
    background: transparent;
    cursor: pointer;
}
