:root {
    --text-primary: rgba(7, 0, 15, 1);
    --text-secondary: rgba(7, 0, 15, 0.7);
    --text-on-color: #FFF;
    --bg-primary: #FFF;
    --bg-neutral: rgba(2, 22, 45, 0.05);
    --bg-accent: #0067FE;
    --bg-accent-hover: #085EDB;
    --border-primary: rgba(7, 0, 15, 0.1);
    --border-primary-hover: rgba(7, 0, 15, 0.40);
    --General-Black: rgba(8, 9, 8, 1);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.filter-selection {
    width: 100%;
    margin: 15px;
}

#dropdownContent {
    display: none;
}

#dropdownContent.is-visible {
    display: block;
}
